
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*.psess
*.fdb
*.mdf
*.ldf
obj/
[Rr]elease*/
Backup*/
_ReSharper*/
*.licenseheader
[Tt]est[Rr]esult*
*uploads/
*.ncrunchsolution
*.ncrunchproject
*app_offline.htm
*db_remote.config
*web_pg_remote.config
*app_pg_remote.config
*app_offline1.htm
*nestedsets.*
*mail.config
*mail_local.config

App_Data/
VZF.Data.Helper*/
vzfbin/app_mamacenter.config
vzfsrc/VZF.NET/Bin/VZF.Data.Common.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Classes.Config.dll
vzfsrc/VZF.NET/Bin/VZF.Utils.dll
vzfsrc/VZF.NET/Bin/VZF.Types.dll
vzfsrc/VZF.NET/Bin/VZF.Tools.dll
vzfsrc/VZF.NET/Bin/VZF.Providers.Postgre.dll
vzfsrc/VZF.NET/Bin/VZF.Providers.Mysql.dll
vzfsrc/VZF.NET/Bin/VZF.Providers.MsSql.dll
vzfsrc/VZF.NET/Bin/VZF.Providers.Firebird.dll
vzfsrc/VZF.NET/Bin/VZF.Providers.Common.dll
vzfsrc/VZF.NET/Bin/VZF.Kernel.dll
vzfsrc/VZF.NET/Bin/VZF.dll.config
vzfsrc/VZF.NET/Bin/VZF.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Utils.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Postgre.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Mysql.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Mssql.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Firebird.dll
vzfsrc/VZF.NET/Bin/VZF.Data.DAL.dll
vzfsrc/VZF.NET/Bin/VZF.Data.Common.dll
vzfsrc/VZF.NET/Bin/VZF.Core.xml
vzfsrc/VZF.NET/Bin/VZF.Core.dll
vzfsrc/VZF.NET/Bin/VZF.Controls.xml
vzfsrc/VZF.NET/Bin/VZF.Controls.dll
vzfsrc/VZF.NET/Bin/Intelligencia.UrlRewriter.dll
vzfsrc/VZF.NET/Bin/FarsiLibrary.xml
vzfsrc/VZF.NET/Bin/FarsiLibrary.dll
