
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.psess
*.fdb
*.mdf
*.ldf
obj/
[Rr]elease*/
_ReSharper*/
VZF.Providers.Mssql/
VZF.Data.Mssql/
[Tt]est[Rr]esult*
vzfsrc/VZF.NET/uploads/
vzfsrc/vzf.full.net.sln
vzfsrc/VZF.NET/app_ms.config
vzfsrc/VZF.NET/web_ms.config
