<connectionStrings>
  <remove name="yafnet_pg" />
  <remove name="yafnet_fb" />
  <remove name="yafnet_my" />
  <remove name="yafnet_ms" />
  <add name="yafnet_pg" connectionString="Server=localhost;Port=5432;Encoding=unicode;User Id=yafuser;Password=yaf123;Database=yafnet_separate;CommandTimeout=120;" providerName="Npgsql" />
  <add name="yafnet_fb" connectionString="User=yafuser;Password=yaf123;
Database=C:\\Users\Vladimir\Projects\vzf_main\vzf\YetAnotherForum.NET\App_Data\yafnet.fdb;Port=3050;Dialect=3;Charset=UTF8;Role=;
Connection lifetime=0;Connection timeout=15;Pooling=True;Packet Size=8192;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient"  />
  <!--
  <add name="yafnet_fb_embed" connectionString="ServerType=1;User=yafuser;Password=yaf123;client library=fbembed.dll;DataSource=localhost;Dialect=3;Database=C:\\Users\Vladimir\Projects\yaf_PG_hgmain\yafsrc\YetAnotherForum.NET\App_Data\yafnet.fdb;ServerType=1;Packet Size=8192;Dialect=3;Charset=UTF8;" providerName="FirebirdSql.Data.FirebirdClient"  /> -->
  <add name="yafnet_my" connectionString="Old Guids=True;Server=localhost;Database=forum;Character Set=utf8;Port=3306;Treat Tiny As Boolean=True;Allow User Variables=True;Default Command Timeout=150;Check Parameters=True;Pooling=True;Use Compression=False;Use Affected Rows=False;Persist Security Info=False;User Id=yafuser;Password=yaf123"
       providerName="MySql.Data.MySqlClient" />
  <add name="yafnet_ms" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|MyDatabase.mdf;" providerName="System.Data.SqlClient"/>
</connectionStrings>
