<connectionStrings>
  <remove name="yafnet_pg" />
  <remove name="yafnet_fb" />
  <remove name="yafnet_my" />
  <remove name="yafnet_ms" />
  <add name="yafnet_pg" connectionString="Server=postgres56.1gb.ru;Port=5432;Pooling=True;MAXPOOLSIZE=10;MINPOOLSIZE=0;ConnectionLifeTime=20;User Id=xgb_mamacenter;Password=9d406bdazx;Database=xgb_mamacenter;CommandTimeout=120;" providerName="Npgsql" /> 
</connectionStrings>