<appSettings>
 <add key="YAF.ConfigPassword" value="password" />
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.EnableURLRewriting" value="false" />
 <add key="YAF.URLRewritingMode" value="Translit" />
 <add key="VZF.LargeForumTree" value="true" />
 <add key="YAF.UseSMTPSSL" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="rrr_" />
 <add key="YAF.DatabaseOwner" value="rrr_" />
 <add key="YAF.DatabaseSchemaName" value="mamacenter1" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.AppRoot" value="~/" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
 <add key="YAF.TwitterConsumerKey" value="XXXX" />
 <add key="YAF.TwitterConsumerSecret" value="XXXX" />
 <add key="YAF.RadEditorSkin" value="Black" />
 <add key="YAF.UseRadEditorToolsFile" value="true" />
 <add key="YAF.RadEditorToolsFile" value="editors/radEditor/toolsFile.xml" />
 <add key="YAF.ConnectionStringName" value="mamacenter1_pg" />

 <add key ="YAF.CrawlerUserAgentTokens" value="Googlebot,abachoBOT,abcdatos_botlink,ah-ha.com crawler,Alexa,antibot, 
                                                        appie,AltaVista-Intranet,Acoon Robot,Atomz,AhrefsBot, 
                                                        Arachnoidea,AESOP_com_SpiderMan,AxmoRobot, 
                                                        ArchitextSpider,AlkalineBOT,Aranha,asterias,
                                                        Baidu,Bingbot,Buscaplus Robi,CanSeek,ChristCRAWLER, 
                                                        Clushbot,Crawler,CrawlerBoy,DeepIndex,DefaultCrawler, 
                                                        DittoSpyder,DIIbot,EZResult,EARTHCOM.info,EuripBot,EasouSpider, 
                                                        ESISmartSpider,FAST-WebCrawler,FyberSearch, 
                                                        Findexa Crawler,Fluffy,Googlebot,geckobot, 
                                                        GenCrawler,GeonaBot,getRAX,Gulliver,Hubater, 
                                                        ia_archiver,Slurp,Scooter,Mercator,RaBot,Jack, 
                                                        Speedy Spider,moget,Toutatis,IlTrovatore-Setaccio, 
                                                        IncyWincy,UltraSeek,InfoSeek Sidewinder,Mole2, 
                                                        MP3Bot,Knowledge.com,kuloko-bot,LNSpiderguy, 
                                                        Linknzbot,lookbot,MantraAgent,NetResearchServer, 
                                                        Lycos,JoocerBot,HenryTheMiragoRobot,MojeekBot, 
                                                        mozDex,MSNBOT,Navadoo Crawler,ObjectsSearch, 
                                                        OnetSzukaj,PicoSearch,PJspider,nttdirectory_robot, 
                                                        maxbot.com,Openfind,psbot,QweeryBot,StackRambler, 
                                                        SeznamBot,Search-10,Scrubby,speedfind ramBot xtreme, 
                                                        Kototoi,SearchByUsa,Searchspider,SightQuestBot,Sogou, 
                                                        Spider_Monkey,Surfnomore,teoma,UK Searcher Spider, 
                                                        Nazilla,MuscatFerret,ZyBorg,WIRE WebRefiner,WSCbot, 
                                                        Yandex,Yellopet-Spider,YBSbot,OceanSpiders, 
                                                        MozSpider"/>
</appSettings>
