<connectionStrings>
  <remove name="vzfnet_pg" />
  <remove name="vzfnet_fb" />
  <remove name="vzfnet_my" />
  <remove name="vzfnet_ms" />
  <add name="vzfnet_pg" connectionString="Server=localhost;Port=5433;Pooling=false; User Id=yafuser;Password=yaf123;Database=yafnet;CommandTimeout=120;" providerName="Npgsql" /> 
  <add name="vzfnet_fb" connectionString="User=yafuser;Password=yaf123;Database=C:\Users\Vik\Documents\Visual Studio 2013\Projects\vzf\vzfsrc\VZF.NET\App_Data\vzfnet.fdb;Port=3050;Dialect=3;Charset=UTF8;Role=;
                                          Connection lifetime=0;Connection timeout=15;Pooling=True;Packet Size=8192;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient"  />
  <!-- <add name="yafnet_fb_embed" connectionString="ServerType=1;User=yafuser;Password=yaf123;client library=fbembed.dll;DataSource=localhost;Dialect=3;Database=C:\\Users\Vladimir\Projects\yaf_PG_hgmain\yafsrc\YetAnotherForum.NET\App_Data\yafnet.fdb;ServerType=1;Packet Size=8192;Dialect=3;Charset=UTF8;" providerName="FirebirdSql.Data.FirebirdClient"  /> -->
 
  <add name="vzfnet_my" connectionString="Old Guids=True;Server=localhost;Database=gb_mamac;Character Set=utf8;Port=3306;Treat Tiny As Boolean=True;Allow User Variables=True;Default Command Timeout=150;Check Parameters=True;Pooling=True;Use Compression=False;Use Affected Rows=False;Persist Security Info=False;User Id=yafuser;Password=yaf123"
       providerName="MySql.Data.MySqlClient" /> 
  <!-- Connection String for SQL Server 2005/2008 -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />-->
  <!-- Connection String for SQL Server 2005/2008 Express -->
   <add name="vzfnet_ms" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=True;User Instance=False;AttachDBFilename=|DataDirectory|vzf.mdf;" providerName="System.Data.SqlClient"/> 
</connectionStrings>
