<!--
  SMTP setup for sending of e-mails from your forum.
  If the SMTP is SSL, you must edit the appSettings and set
  "YAF.UseSMTPSSL" to "true".
-->
<!-- <smtp deliveryMethod="Network" from="forumadmin@yourdomain.com">
  
  <network host="xxx.xxx.ru" port="25" password="ccccc" userName="uname"/>
</smtp>
-->
<!-- Use this setting for development: pickup directory must be exact path -->
<!--smtp deliveryMethod="SpecifiedPickupDirectory">
  <specifiedPickupDirectory pickupDirectoryLocation="C:\Inetpub\wwwroot\email" />
</smtp--> 

 <smtp deliveryMethod="Network" from="admin@rumama-net.1gb.ru">
      <network host="smtp-56.1gb.ru" port="25" password="1454c60d"  userName="u229025"/>
    </smtp>
